{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">

    <title>Your Golddigger Project</title>
</head>
<body>
<!-- Your content goes here -->
<!-- Ana Konteyner (Container) -->
<div class="container">
    <!-- Üst Sıra (Row) -->
    <div class="row">
        <div class="col-md-12">
            <p>MENU</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Info-closable x</p>
        </div>
    </div>
   
    <div class="row">
        <!-- Sol Kenarlık -->
        <div class="col-md-1">
            <p>Sol Kenarlık</p>
        </div>

        <!-- Ana İçerik Alanı -->
        <div class="col-md-8">
            <p>Currentcoin/usdt</p>
        </div>
        <div class="col-md-2">
            <p>Search coin</p>
        </div>
        <!-- Sağ Kenarlık -->
        <div class="col-md-1">
            <p>Sağ Kenarlık</p>
        </div>
    </div>

    <!-- Alt Sıra (Opsiyonel) -->
    <div class="row">
        <!-- Alt Sıradaki İçerik -->
        <div class="col-md-12">
            <p>Alt sıradaki içerik buraya gelecek...</p>
        </div>
    </div>
</div>
<!-- Your content goes here -->

<!-- Bootstrap JS and dependencies -->
<script src="{% static 'bootstrap-5.3.2-dist/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
