{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
   
    <title>Golddiger</title>
    
    
    <script src="{% static 'js/lightweight-charts.standalone.production.js' %}"></script>

    <style>
        p {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.6em;
    }

        .PriceTable{
        color green;
        border: 1px solid red;
    }

        .PriceTable th
        {
            color: gray; /* Metin rengi */
            font-size: 0.5rem;
            /* tablo header'ı */ }

        .PriceTable td {
        color: green; /* Metin rengi */
        font-size: 0.5rem;
       
        /* tablo satırları*/ }

       
        .CandleGraph{
        color green;
        border: 1px solid red;

    }

        .SearchCoin{
        color green;
        border: 1px solid red;

        }

        .button-t{
            font-size: 10px;
            
        }
        .button-live{
            font-size: 10px;
        }
        .button-v{
            font-size: 10px;
        }

        .coinSelectorButtonContainer {
            display: flex;
            gap: 3px; /* Butonlar arasındaki boşluk */
        }
        
        .coinSelectorButton {
            background-color: #4CAF50; /* Yeşil renk */
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 8px;
            cursor: pointer;
            border-radius: 5px; /* Kenar yuvarlama */
        }
        .dark-mode {
            color: #ffffff;
        }
</style>
</head>
<body>
<!-- Your content goes here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Golddigger Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <input type="text" id="searchCoinInput" placeholder="Search Coin">
                     <button onclick="searchCoin()">Search</button>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Info-closable x</a>
                    <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Ana Konteyner (Container) -->
<div class="container">
    <div class="row">
        <!-- arama sonucu -->
        <div class="col-md-12">
            
            <div id="searchResult"></div>

        </div>
    </div>
    <!-- Üst Sıra (Row) -->
   
   
    <div class="row">
        <!-- Sol Kenarlık -->
        <div class="col-md-1">
            
        </div>

        <!-- Ana İçerik Alanı -->
        <div class="col-md-1">
            <p>Pair</p>
            <p>{{ current_coin }}</p>
        </div>
        <div class="col-md-1">
            <p>Price</p>
            <p>${{ current_price }}%</p>
           
        </div>
        <div class="col-md-1">
            <p>24h Change</p>
            <p>{{ change_percentage }}%</p>
        </div>
        <div class="col-md-1">
            <p>24h High</p>
            <p>${{ high_price }}</p>
        </div>
        <div class="col-md-1">
            <p>24h Low</p>
            <p>${{ low_price }}</p>
        </div>
        <div class="col-md-1">
            <p>24h Volume(Coin)</p>
            <p>${{ low_price }}</p>
        </div>
        <div class="col-md-1">
            <p>24h Volume(usdt)</p>
         
            <p>${{ volume_usdt }}</p>
        </div>
       
        <div class="col-md-3">
            <div class="SearchCoin">
                <p>Search coin</p>
                
                <div id="searchResult"></div>
            </div>
        </div>
        
        <!-- Sağ Kenarlık -->
        <div class="col-md-1">
            
        </div>
        
    </div>


    <div class="row">
        <!-- Sol Kenarlık -->
        <div class="col-md-1">
            
        </div>

        <!-- Ana İçerik Alanı -->
        <div class="col-md-2">
            <div class="PriceTable">
           
            
                <table class="table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trade in trades|slice:":15" %}
                            <tr>
                                <td>${{ trade.price }}</td>
                                <td>{{ trade.qty }}</td>
                                <td>${{ trade.price|floatformat:2|intmultiply:trade.qty }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
            
            
        </div>
        <div class="col-md-6">
            {{ test }}
            <button class="button-live" id="toggleLiveModeButton"data-value="Time">Time(live)</button>
            <button class="button-t" data-value="1m">1m</button>
            <button class="button-t" data-value="3m">3m</button>
            <button class="button-t" data-value="5m">5m</button>
            <button class="button-t" data-value="15m">15m</button>
            <button class="button-t" data-value="30m">30m</button>
            <button class="button-t" data-value="1h">1h</button>
            <button class="button-t" data-value="2h">2h</button>
            <button class="button-t" data-value="4h">4h</button>
            <button class="button-t" data-value="6h">6h</button>
            <button class="button-t" data-value="8h">8h</button>
            <button class="button-t" data-value="12h">12h</button>
            <button class="button-t" data-value="1d">1d</button>
            <button class="button-t" data-value="1d">3d</button>
            <button class="button-t" data-value="1w">1w</button>
            <button class="button-t" data-value="1w">1m</button>
            <button class="button-v" data-value="v">v</button>
            <div id="coinChart" style="width: 100px; height: 400px;"></div>
        </div>

        <div class="col-md-2">
           
        </div>
        <!-- Sağ Kenarlık -->
        <div class="col-md-1">
            
        </div>
    </div>

    <!-- Alt Sıra (Opsiyonel) -->
    <div class="row">
        <!-- Alt Sıradaki İçerik -->
        <div class="col-md-12">
            <p>Real Time Data</p>
            

        </div>
    </div>
    
</div>
<!-- Your content goes here -->

<!-- Bootstrap JS and dependencies -->
<script src="{% static 'bootstrap-5.3.2-dist/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
<!--<script src="{% static 'chart.js' %}"></script>-->
<script>
    

    const chart = LightweightCharts.createChart(document.getElementById('coinChart'), {
        width: 800,
        height: 400,
    });
    let candlestickSeries;

    document.addEventListener('DOMContentLoaded', function () {
        const formattedData = {{ formatted_data|safe }};
        chart.timeScale().fitContent();

        const timesframe = formattedData.map(item => item.timesframe);
        const firstTime = timesframe[0];
        let timeScaleOptions;

        if (firstTime.includes('1d')) {
            timeScaleOptions = {
                timeVisible: true,
                secondsVisible: false,
            };
        } else {
            timeScaleOptions = {
                timeVisible: true,
                secondsVisible: true,
            };
        }

        chart.applyOptions({
            timeScale: timeScaleOptions,
        });

        candlestickSeries = chart.addCandlestickSeries();
        candlestickSeries.setData(formattedData);
    });

    const csrftoken = '{{ csrf_token }}';

    $(document).ready(function () {
        $(".button-t").click(function () {
            var selection = $(this).data("value");
            var buttons = document.getElementsByClassName("button-t");

            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disabled = true;
            }

            // Seriyi temizleme işlemi
            chart.removeSeries(candlestickSeries);
            candlestickSeries = chart.addCandlestickSeries();

            $.ajax({
                url: "{% url 'test_message' %}",
                type: "POST",
                data: {
                    binance_timeframe: selection,
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response) {
                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].disabled = false;
                    }

                    var formatted_data = response.formatted_data;
                    console.log("Formatted data:", formatted_data);

                    // Eski verileri temizle
                    $("#message").html('');

                    // Yeni verileri ekle
                    formatted_data.forEach(function (entry) {
                        $("#message").append(JSON.stringify(entry) + '<br>');
                    });

                    // Grafiği güncelle
                    updateChart(formatted_data);
                },
            });
        });

        
    });
   
    function updateChart(data) {
        candlestickSeries.setData(data);
    }

    // ...

    function sendSymbol(symbol) {
        // Symbol değerini Python tarafına gönder
        $.ajax({
            type: 'POST',
            url: '{% url "send_symbol" %}',
            data: {
                'symbol': symbol,
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(response) {
                console.log('Symbol sent successfully:', response);
                // Burada gerekirse başka işlemler yapabilirsiniz
                var formatted_data = response.formatted_data;
                    console.log("Formatted data:", formatted_data);

                    

                    // Grafiği güncelle
                    updateChart(formatted_data);
                    //indikatör verilerini güncellemek için sayfayı yenile
                    location.reload();
            },
            error: function(error) {
                console.log('Error sending symbol:', error);
            }
        });
    }

    function searchCoin() {
        var searchQuery = document.getElementById("searchCoinInput").value;

        $.ajax({
            type: 'GET',
            url: '{% url "search_coin" %}',
            data: {
                'search_query': searchQuery,
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(response) {
                var data = response.data;

                // Eski verileri temizle
                $("#searchResult").html('');
                //filtreleme işlemi

                // data nesnesinin içindeki symbol_names dizisi üzerinde döngü
                if (Array.isArray(data.symbol)) {
                    // Butonları içeren bir div oluşturun
                    var buttonsContainer = $('<div class=".coinSelectorButtonContainer"></div>');
                
                    data.symbol.forEach(function (entry) {
                        // Her sembol için bir düğme ekleyin
                        var buttonHtml = '<button class="coinSelectorButton" onclick="sendSymbol(\'' + entry + '\')">' + entry + '</button>';
                        
                        // Düğmeyi buttonsContainer'a ekle
                        buttonsContainer.append(buttonHtml);
                    });
                
                    // buttonsContainer'ı #searchResult içine ekle
                    $("#searchResult").append(buttonsContainer);
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    console.log({{ symbols }})


    function toggleDarkMode() {
        // Body elemanını seç
        var body = document.body;
        
        // Grafiği içeren div elemanını seç
        var chartDiv = document.getElementById('coinChart');
        
        // Dark mode class'ını toggle et
        body.classList.toggle('dark-mode');
        chartDiv.classList.toggle('dark-mode');

        // Dark mode durumuna göre, uygun renkleri ayarla
        if (body.classList.contains('dark-mode')) {
            // Dark mode
            body.style.backgroundColor = '#1a1a1a';
            chartDiv.style.backgroundColor = '#1a1a1a';
        } else {
            // Light mode
            body.style.backgroundColor = '#ffffff';
            chartDiv.style.backgroundColor = '#ffffff';
        }
        var navbar = document.querySelector('.navbar');

        // Navbar elementinde 'bg-light' ve 'bg-dark' sınıflarını toggle et
        navbar.classList.toggle('bg-light');
        navbar.classList.toggle('bg-dark');

        // Navbar elementindeki yazı rengini değiştir
        if (navbar.classList.contains('bg-light')) {
            navbar.classList.remove('text-white');
        } else {
            navbar.classList.add('text-white');
        }
    }
    

</script>
<script>
    const socket = new WebSocket('ws://localhost:8000/ws/candlestick/');
    // Bağlantı başarılı olduğunda
    //canlı grafik modu kontrolü
    // Değişkeni tanımla, başlangıçta false olarak ayarla
    let isLiveMode = false;

    // liveMode fonksiyonunu tanımla
    function liveMode() {
    // Değişkenin değerini toggle et
    isLiveMode = !isLiveMode;

    // Duruma göre gerekli işlemleri yap
    if (isLiveMode) {
        // Live mode açık ise yapılacak işlemler
        console.log('Live mode is ON');
        // Buraya canlı modun aktif olduğu durumda yapılacak işlemleri ekleyebilirsiniz
    } else {
        // Live mode kapalı ise yapılacak işlemler
        console.log('Live mode is OFF');
        // Buraya canlı modun kapalı olduğu durumda yapılacak işlemleri ekleyebilirsiniz
    }
    }


// HTML üzerindeki butona click eventi ekle ve liveMode fonksiyonunu çağır
document.getElementById('toggleLiveModeButton').addEventListener('click', liveMode);
    socket.onopen = function (event) {
        console.log('WebSocket is open now.');
        };
        
        
        
        // Mesaj alındığında
        socket.onmessage = function (event) {
            // Gelen veriyi işleme
            const data = JSON.parse(event.data);
            console.log('Received message:', data);
            // Grafiği güncelleme fonksiyonunu çağırma
            if(isLiveMode==1)
            {
            
                



                
            updateChartLive(data);
            }
        };
        
        // Hata durumunda
        socket.onerror = function (error) {
            console.error('WebSocket error:', error);
        };
        
        // Bağlantı kapandığında
        socket.onclose = function (event) {
            console.log('WebSocket closed:', event);
        };
            
        function updateChartLive(data) {
            // Veriyi grafik için uygun formata dönüştürme
            const newData = {
                time: data.timestamp,
                open: data.open,
                high: data.high,
                low: data.low,
                close: data.close,
            };
            console.log("Graphic updated");
            // Yeni mum verisini grafiğe ekleyin
            candlestickSeries.update(newData);
        }
        
</script>
<div id="formattedDataContainer"></div>
</body>
</html>
