{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Candlestick Chart</title>
 
    <script src="{% static 'js/lightweight-charts.standalone.production.js' %}"></script>
   <!--<script src="https://unpkg.com/lightweight-charts@3.4.0/dist/lightweight-charts.standalone.production.js"></script>-->
</head>
<body>
    <div id="bitcoinChart" style="width: 800px; height: 400px;"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const chart = LightweightCharts.createChart(document.getElementById('bitcoinChart'), {
                width: 800,
                height: 400,
            });

            const candlestickSeries = chart.addCandlestickSeries();

            // Binance API'den alınan verileri Python tarafından gönderilen değişkenle güncelle
            const formattedData = {{ formatted_data|safe }};

            // Grafiği güncelle
            candlestickSeries.setData(formattedData);
        });
    </script>
</body>
</html>

def candles(request):
    binance_api_url = 'https://api.binance.com/api/v3/klines'
    params = {
        'symbol': 'BTCUSDT',
        'interval': '1m',
        'limit': 3000,
    }
    response = requests.get(binance_api_url, params=params)
    binance_data = response.json()

    # Verileri uygun formata dönüştür
    formatted_data = [{
    'time': entry[0],
    'open': float(entry[1]),
    'high': float(entry[2]),
    'low': float(entry[3]),
    'close': float(entry[4]),
    } for entry in binance_data]
    return render(request, 'candles.html', {'formatted_data': formatted_data})
