<!-- candles.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Candlestick Chart</title>

    <script src="{% static 'js/lightweight-charts.standalone.production.js' %}"></script>
</head>
<body>
    <div id="bitcoinChart" style="width: 800px; height: 400px;"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const chart = LightweightCharts.createChart(document.getElementById('bitcoinChart'), {
                width: 800,
                height: 400,
            });

            const candlestickSeries = chart.addCandlestickSeries();

            // Django görünümünden gelen JSON formatındaki veriyi al
            //const formattedDataJson = '{{ formatted_data_json|safe }}'; galiba tırnaklar patlatıyor
            //const formattedData = JSON.parse(formattedDataJson);
           
            const formattedData = {{ formatted_data|safe }};
            // Zaman verisini uygun formata dönüştür
        
            chart.timeScale().fitContent();
            
               // Saat ve dakikayı eklemek için format fonksiyonunu kullan
            const timesframe = formattedData.map(item => item.timesframe);
            const firstTime = timesframe[0];
            let timeScaleOptions;

            // timeValues dizisinin ilk elemanını kontrol et
            if (firstTime.includes('1d')) {
                // "1d" içeriyorsa, günlük zaman dilimi ayarları
                timeScaleOptions = {
                    timeVisible: true,
                    secondsVisible: false,
                    
                };
            } else {
                // "1d" içermiyorsa, diğer zaman dilimi ayarları
                timeScaleOptions = {
                    timeVisible: true,
                    secondsVisible: true,
                    
                };
            }
           

            chart.applyOptions({
                timeScale: timeScaleOptions,
            });
            // Grafiği güncelle
            candlestickSeries.setData(formattedData);
            const dataContainer = document.getElementById('formattedDataContainer');
        dataContainer.innerHTML = JSON.stringify(firstTime, null, 2);
        });
        
    
        
    </script>
    <div id="formattedDataContainer"></div>
</body>
</html>
